.nav-list-link
{font-family:'Playfair dispay' ;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.35;
color: #7D7D7D;;
text-decoration: none;
}

.nav-list-img{
width: 419px;height: 280px; 
}

.nav-list-title
{font-family:'Playfair dispay' ;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.33;
    color: #626262;
}

.nav-list-subtitle
{
    font-family:'Ubuntu' ;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.14;
    color: #B4AD9E;
}

.nav-list-text
{
    font-family:'Playfair dispay' ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height:1.35;
    color: #626262;
}

.nav-list-link:hover{color: #03A9F4;}
.nav-list {list-style-type: none;}
